.onboarding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container{
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.onboarding-title{
    font-size: 24px;
    margin-bottom: 20px;
    margin: 0;
}
.switch-text{
    cursor: pointer;
}